* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%;
}

body {
  font-family: "Fira Sans", sans-serif;
  height: 100%;
  font-size: 1.6rem;
}
